
:root {
--color-prymal: #F5F5F5;
--color-text: #757575;
--color-footer: #2F303A;
--color-black: #212121;
--color-accent: #2196F3;
    }


header {
background-color: #FFFFFF;
font-size: 14px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--color-black)

}

body {
    color: var(--color-text);
    background-color: white;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.03em}

.list{
list-style: none;
margin: 0;
padding: 0;
} 

.container {
max-width: 1600px;
margin: 0 auto;
}

.container-contact {
    display: flex;
    align-items: center;
    padding: 0 15px
 }

 .container-header {
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ECECEC;
}

 .container-nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
 }


 
.logo {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    color: #000000;
    cursor: default;
    text-decoration: none;
    margin-right: 94px;
}

.logo-text {
    color: var(--color-accent);
}

.container-list {
display: flex;
align-items: center;
gap: 50px;
padding: 0 15px}

.address-header {
    color: var(--color-text);
    cursor: default;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.address-mail {
    color: var(--color-accent);
    cursor: default;
    text-decoration: none;
    letter-spacing: 0.03em;
}


/* sait-nav */

.nav-link {
text-decoration: none;
cursor: default;
color: var(--color-black);
}

.site-nav {
    display: flex;
    color: var(--color-black);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    gap: 50px;
    }



.sait-nav:hover, :focus {
    color: var(--color-accent)F3;
}

.button:hover, :focus {
    background-color: var(--color-accent);
    color: var(--color-prymal)
}

/* Hero */



.hero-title {
    margin: 0 auto 30px;
    width: 700px;
    display: flex;
    padding-top: 200px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3;
    color: var(--color-prymal);
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    }

.hero-container {
    margin: auto;
    width: 1200px;
    height: 600px;
    color: var(--color-prymal);
    background-color: var(--color-footer);
    line-height: 1.7;
    padding: 0 15px
    }

.button-hero {
width: 216px;
height: 50px;
display: block;
margin-left: auto;
margin-right: auto;
background-color: var(--color-accent);
color: var(--color-prymal);
font-family: "Roboto";
font-weight: 900;
font-size: 16px;
line-height: 1.88; 
letter-spacing: 0.06em;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

.button-hero {
cursor: pointer;
}

.title-list {
display: flex;
flex-grow: 1;
gap: 30px;
}

.container-title {
margin: 0 auto ;
margin-top: 94px;
width: 1200px;
height: 100px;
display: flex;
flex-grow: 1;
}

.section-container {
max-width: 1200px;
margin: 0 auto;  
margin-top: 94px;
}

.section-title {
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.03em;
color: var(--color-black);
}

.imeg-list {
padding: 0%;
display: flex;
flex-grow: 1;
gap: 30px;
}

.team-container{
width: 1200px;
background-color: #F5F4FA;;
margin: 0 auto;
margin-top: 94px;
padding: 0 15px
}

.title {
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.03em;
color: var(--color-black)}
   
.team {
background-color: #F5F4FA;

}

.team-list {
padding: 0%;
display: flex;
gap: 30px;
}

.menu {
    margin-top: 94px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

/* .container-button {
width: 1200px;
margin: 0 auto;
display: flex;
align-items: center;
gap: 50px;
} */

/* .container-portfolio {
width: 1200px;
margin: 0 auto;
display: flex;
gap: ;
} */

.team-title {
font-size: 16px;
font-weight: 500;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--color-black)
}

.team-text {
font-size: 16px;
font-weight: 400;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--color-text)
 }

.portfolio-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.03em;
    color: var(--color-black)
}

.portfolio-title :hover,
:focus {
    background-color:var(--color-accent);
    color: var(--color-prymal);
}

.portfolio-button {
    height: 40px;
    padding: 6px 22px;
    color: var(--color-black);
    font-size: 16px;
    font-weight: 500;
    font-family: "Roboto";
    line-height: 1.62;
    letter-spacing: 0.03em;}

.container-portfolio {
    width: 1200px;
    margin: auto;
    padding: 0 15px;
    margin-bottom: 94px;
    }

.portfolio-button {
        cursor: pointer;
    }

.cart {
display: flex;
flex-wrap: wrap;
margin-top: 54px;
gap: 30px;}

.cart-text {
width: 370px;
height: 110px;
margin-top: 0%;
padding: 0 24px;
background: #FFFFFF;
border: 1px solid #EEEEEE;
}

.portfolio-text {
font-size: 16px;
font-weight: 400;
line-height: 1.87;
letter-spacing: 0.03em;
    }

.footer-container {
width: 1200px;
height: 250px;
margin: 0 auto;
background-color: var(--color-footer);
}

.address {
display: block;
}

.footer-text {
color: var(--color-prymal);
letter-spacing: 0.03em;
}


.page-footer {
padding: 60px;
color: var(--color-prymal);
background-color: #2F303A;
font-size: 14;
font-weight: 400;
line-height: 1.74;
font-family: 'Roboto', sans-serif;
letter-spacing: 0.03em;
}

.text {
  font-family: "Roboto",
    sans-serif; 
  font-style: normal;
}

.address {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    cursor: default;
    font-style: normal;
    letter-spacing: 0.03em;
}



